@font-face {
  font-family: "Compagnon";
  src: url(fonts/compagnon-medium.woff);
}

@font-face {
  font-family: "Violet Sans";
  src: url(fonts/violetsans-regular.woff);
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url(fonts/jetbrainsmono-regular.woff);
}
